body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: lawngreen;
    font-family: 'Century Gothic', sans-serif;
    margin: 20px
}

.title {
    display: grid;
}


.qna1 {
    margin-bottom: 10px;
}

.answer {
    background-color: gray;
    border: none;
    padding: 10px;
    width: 100%;
    text-align: left;
    font-size: 18px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}

.jawab {
    color: white;
    display: none;
    padding: 10px;
    border: 1px solid #ccc;
    border-top: none;
}

.contact {
    text-align: center;
}

a {
    color: yellow;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}